.top{
    width: 80%;
    height: 100px;
    background-color: #424242;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    box-shadow: 5px 5px 5px #000;
    text-align: center;
    text-shadow: 2px 2px 5px #000;
}
.title{
    font-size: 72px;
    font-family: "Arial Black", Gadget, sans-serif;
    color: #ff8c1a; /* Text Color */
}
.container{
    margin-top: 10px;
    width: 65%;
    background-color: #616161;
    box-shadow: 5px 5px 5px #000;
}
.container p{
    color: #fff;
}
.container h1{
    color: #ff8c1a;
    font-family: "Arial", Gadget, sans-serif;
    font-size: 36px;
    text-shadow: 2px 2px 5px #000;
}
.subcontainer{
    width: 80%;
    height: 80%;
}
body{
    background-color: #212121; /* Background */
}
.sponsor{
    width: 100%;
    height: auto;
    margin-top: 5px;
}
.navbar-spacer1{
    width: 100px;
}
.bottom{
    margin-bottom: 10px;
}
.twitch{
    width: 100%;
}
.binarybeast{
    width: 100%;
}
.map{
    margin-bottom: 10px;
    width: 50%;
}
