.top{
    width: 80%;
    height: 100px;
    background-color: #424242;
    margin-left: auto;
    margin-right: auto;
}
.container{
    width: 80%;
    background-color: #616161;
}
body{
    background-color: #212121;
}
